@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Segoe UI' !important;
}

.parent {
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
    transform: skewY(-15deg);
    text-align: center;
}

.child {
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    transform: skewY(15deg);
}